body {
	background-color: #19161e;
	color: #303030;
}

.search_bar {
	background-color: #303030;
	color: #000000;
}

.search_bar::placeholder {
	color: #19161e;
}

.search_button {
	background-color: #5e69af;
	color: #000000;
}

.search_button:hover {
	background-color: #8698c0;
}

p {
	background-color: #000000;
}
