body {
	background-color: #19161e;
	color: #303030;
}

.search_bar {
	background-color: #303030;
	color: #19161e;
}

.search_bar::placeholder {
	color: #19161e;
}

.search_button {
	background-color: #689d6a;
	color: #1d2021;
}

.search_button:hover {
	background-color: #8ec07c;
}

p {
	background-color: #343434;
	border-bottom: 8px solid #292929;
}
